.videoPlayerGrid {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
}
.videoPlayerRow {
  display: grid;
  gap: 1rem;
  grid-template-columns: min-content auto min-content;
}
/* .videoPlayerRow > div {
  display: flex;
  justify-content: center;
  align-items: center;
} */
