@keyframes disappear {
  from {
    bottom: 0;
  }
  to {
    bottom: 100px;
  }
}
.videoPlayerGrid {
  display: grid;
  grid-template-rows: min-content 1fr;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  background: linear-gradient(to bottom, transparent, black);
  transition: opacity 0.2s ease-in;
  user-select: none;
}

.videoPlayerRow {
  display: grid;
  gap: 1rem;
  grid-template-columns: min-content min-content auto min-content;
}
.videoPlayerRow > div,
.videoPlayerRow > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoBackground {
  background-color: rgb(26, 26, 26);
}
.video {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
